numpy
pandas
matplotlib
plotly
altair
scikit-learn
streamlit
fastapi
uvicorn
torch>=2.4
torchvision>=0.19
onnx>=1.15
onnxruntime>=1.17
onnxruntime-gpu
onnxscript
transformers>=4.44
optimum>=1.21
nvidia-tensorrt
pycuda